<div class="zoom ">
    <div class="card border bg-light shadow1" style="width: 20rem; height: 13rem; margin:auto;">
      <div  class="card-body ">
          <div class="row">
            <div class="col-5  col align-self-center">
              <br>
                <img class="img-responsive icon" [src]="type.icon">  
            </div>
            <div class="col-7"> 
                <br>
                <h4 class="card-title text-center">{{type.name}}</h4> 
                <hr>
                <h2>{{valuePass}}</h2>
            </div> 
          </div>
      </div>
    </div>
</div>